@import "../../style.scss";

.post {
  @include themify($themes) {
    font-family: "Poppins", sans-serif;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    background-color: themed("bg");
    color: themed("textColor");

    .container {
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            justify-content: center;
            gap: 2px;
            flex-direction: column;

            .name {
              font-weight: bold;
              color: themed("textColor");
              font-style: italic;

              &:hover {
                color: #5a70d1;
                cursor: pointer;
              }
            }

            .date {
              font-size: 12px;
            }
          }
        }

        button {
          position: absolute;
          top: 30px;
          right: 0;
          border: none;
          background-color: #f0544f;
          padding: 5px;
          cursor: pointer;
          color: white;
        }
      }

      .content {
        margin: 20px 0px;

        img {
          width: 100%;
          max-height: 700px;
          object-fit: cover;
          margin-top: 20px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
        }
      }

      .buyButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        z-index: 999;
        gap: 5px;
        cursor: pointer;
        background-color: #f0544f;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
          background-color: #d0433a;
        }

        span {
          font-size: 14px;
        }

        svg {
          font-size: 20px;
        }
      }

      .empty-span {
        display: none;
      }
    }
  }
}
