@import "../../style.scss";

.leftBar {
  font-family: "Poppins", sans-serif;

  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      hr {
        margin: 20px 0;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
          color: themed("textColor");
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }

          img {
            width: 30px;
            height: auto;
          }

          span {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
